### 载入数据

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('train.csv',dtype={'StateHoliday':object}) 
store =  pd.read_csv('store.csv')
test = pd.read_csv('test.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null object
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null object
SchoolHoliday    1017209 non-null int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

### 合并数据

In [4]:
new_train=pd.merge(train,store,how='inner',on='Store')
new_test=pd.merge(test,store,how='inner',on='Store')

new_train.info()
new_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
Store                        1017209 non-null int64
DayOfWeek                    1017209 non-null int64
Date                         1017209 non-null object
Sales                        1017209 non-null int64
Customers                    1017209 non-null int64
Open                         1017209 non-null int64
Promo                        1017209 non-null int64
StateHoliday                 1017209 non-null object
SchoolHoliday                1017209 non-null int64
StoreType                    1017209 non-null object
Assortment                   1017209 non-null object
CompetitionDistance          1014567 non-null float64
CompetitionOpenSinceMonth    693861 non-null float64
CompetitionOpenSinceYear     693861 non-null float64
Promo2                       1017209 non-null int64
Promo2SinceWeek              509178 non-null float64
Promo2SinceYear              509178 non-null float64
PromoInterval                509178 non-null object
dtypes: float64(5), int64(8), object(5)
memory usage: 147.5+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41088 entries, 0 to 41087
Data columns (total 17 columns):
Id                           41088 non-null int64
Store                        41088 non-null int64
DayOfWeek                    41088 non-null int64
Date                         41088 non-null object
Open                         41077 non-null float64
Promo                        41088 non-null int64
StateHoliday                 41088 non-null object
SchoolHoliday                41088 non-null int64
StoreType                    41088 non-null object
Assortment                   41088 non-null object
CompetitionDistance          40992 non-null float64
CompetitionOpenSinceMonth    25872 non-null float64
CompetitionOpenSinceYear     25872 non-null float64
Promo2                       41088 non-null int64
Promo2SinceWeek              23856 non-null float64
Promo2SinceYear              23856 non-null float64
PromoInterval                23856 non-null object
dtypes: float64(6), int64(6), object(5)
memory usage: 5.6+ MB

### 处理数据

In [5]:
#看看有没有open为0但是有销售数据的
new_train.query('Open==0 & Sales>0')
#看看销售数据的情况
new_train["Sales"].describe()
# 看看节假日有哪些
new_train["StateHoliday"].drop_duplicates()
#各个StateHolitday的数据值类型
new_train["StateHoliday"].value_counts()

0    986159
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

In [6]:
new_train.query('Open==0 & Sales>0')
new_train.query('Open==1 & StateHoliday=="c"')['Date'].value_counts()

12/26/2014    19
12/26/2013    19
12/25/2013    17
12/25/2014    16
Name: Date, dtype: int64

In [7]:
new_train.query('Open==0 & SchoolHoliday=="1"')[['Date','Store']]

new_train.query('Store==1')

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,7/31/2015,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,7/30/2015,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,7/29/2015,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,7/28/2015,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,7/27/2015,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
5,1,7,7/26/2015,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
6,1,6,7/25/2015,4364,500,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
7,1,5,7/24/2015,3706,459,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
8,1,4,7/23/2015,3769,503,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
9,1,3,7/22/2015,3464,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
10,1,2,7/21/2015,3558,469,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
11,1,1,7/20/2015,4395,526,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
12,1,7,7/19/2015,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
13,1,6,7/18/2015,4406,512,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
14,1,5,7/17/2015,4852,519,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
15,1,4,7/16/2015,4427,517,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
16,1,3,7/15/2015,4767,550,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
17,1,2,7/14/2015,5042,544,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
18,1,1,7/13/2015,5054,553,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
19,1,7,7/12/2015,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
20,1,6,7/11/2015,3530,441,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
21,1,5,7/10/2015,3808,449,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
22,1,4,7/9/2015,3897,480,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
23,1,3,7/8/2015,3797,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
24,1,2,7/7/2015,3650,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
25,1,1,7/6/2015,4359,540,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
26,1,7,7/5/2015,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
27,1,6,7/4/2015,4797,560,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
28,1,5,7/3/2015,4665,538,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
29,1,4,7/2/2015,5558,573,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,1,3,1/30/2013,4601,560,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
913,1,2,1/29/2013,3725,522,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
914,1,1,1/28/2013,4055,549,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
915,1,7,1/27/2013,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
916,1,6,1/26/2013,5598,640,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
917,1,5,1/25/2013,5586,676,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
918,1,4,1/24/2013,5195,645,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
919,1,3,1/23/2013,5578,627,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
920,1,2,1/22/2013,5720,667,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
921,1,1,1/21/2013,5394,607,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
922,1,7,1/20/2013,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
923,1,6,1/19/2013,5182,688,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
924,1,5,1/18/2013,4127,568,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
925,1,4,1/17/2013,4044,503,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
926,1,3,1/16/2013,4008,530,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
927,1,2,1/15/2013,3900,512,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
928,1,1,1/14/2013,4717,616,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
929,1,7,1/13/2013,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
930,1,6,1/12/2013,4952,646,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
931,1,5,1/11/2013,4881,592,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
932,1,4,1/10/2013,4892,615,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
933,1,3,1/9/2013,5471,626,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
934,1,2,1/8/2013,5580,654,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
935,1,1,1/7/2013,7176,785,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
936,1,7,1/6/2013,0,0,0,0,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
937,1,6,1/5/2013,4997,635,1,0,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
938,1,5,1/4/2013,4486,619,1,0,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
939,1,4,1/3/2013,4327,578,1,0,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
940,1,3,1/2/2013,5530,668,1,0,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
941,1,2,1/1/2013,0,0,0,0,a,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [66]:
#根据常识我觉得客户数和销售量的关系应该很大
#添加一个月份
t=new_train['Date'].str.split('/')
month=[]

for m in t: 
    month.append(m[0])

new_train['Month']=pd.to_numeric(pd.Series(month))

new_train.info()

new_train['Month'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 19 columns):
Store                        1017209 non-null int64
DayOfWeek                    1017209 non-null int64
Date                         1017209 non-null object
Sales                        1017209 non-null int64
Customers                    1017209 non-null int64
Open                         1017209 non-null int64
Promo                        1017209 non-null int64
StateHoliday                 1017209 non-null object
SchoolHoliday                1017209 non-null int64
StoreType                    1017209 non-null object
Assortment                   1017209 non-null object
CompetitionDistance          1014567 non-null float64
CompetitionOpenSinceMonth    693861 non-null float64
CompetitionOpenSinceYear     693861 non-null float64
Promo2                       1017209 non-null int64
Promo2SinceWeek              509178 non-null float64
Promo2SinceYear              509178 non-null float64
PromoInterval                509178 non-null object
Month                        1017209 non-null int64
dtypes: float64(5), int64(9), object(5)
memory usage: 195.2+ MB

5     103695
3     103695
1     103694
6     100350
4     100350
7      98115
2      93660
12     63550
10     63550
8      63550
11     61500
9      61500
Name: Month, dtype: int64

In [70]:
# 按月份sum销售额
new_train[['Month','Sales']].groupby('Month',as_index=False).mean().sort_values('Month')

    Month        Sales
0       1  5465.395529
1       2  5645.253150
2       3  5784.578871
3       4  5738.866916
4       5  5489.639973
5       6  5760.964375
6       7  6064.915711
7       8  5693.016554
8       9  5570.246033
9      10  5537.037419
10     11  6008.111821
11     12  6826.611377